body {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: bold;
  overflow: hidden;
}
#appName {
    font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

#appSubtitle {
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

img {
  image-rendering: auto;
  -ms-interpolation-mode: bicubic;
}